* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #ed93cc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.audio-player {
  background: #ffe0e5;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 30px 20px 30px rgba(255, 26, 26, 0.22);
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #771051;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}
.sound-img {
  width: 220px;
  border-radius: 50%;
  border: 5px solid #c37f02;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}
.audio-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}
.audio-player p {
  font-size: 14px;
  color: #333;
}
#progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #771051;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ed93cc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #c37f02;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  background: #fff;
  margin: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #c37f02;
  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}
.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #c37f02;
  color: #fff;
}
